@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --steel-white: rgb(255, 255, 255);
    --twitter-blue: #00aecc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.centered {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

body {
    min-height: 100vh;
    /* background: pink; */
    font-family: Arial, Helvetica, sans-serif;
}

.align-center {
    text-align: center;
    padding: 10px;
}

.grey {
    /* color: rgb(177, 177, 177); */
    color: orange;
}

/* ********************Header****************** */
header {
    background: #444;
    position: relative;
    letter-spacing: 0.1px;

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

p, a {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Title */
.title {
    color: #efefef;
    font-size: 1rem;
    background: var(--steel-white);
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    color: #555;

}

/* Navbar */
.burger {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: auto;
    right: 2%;
    top: 47%;
    transform: translateY(-47%);
}

.burger .stick {
    display: block;
    height: 4px;
    background: #666;
    border-radius: 10px;
    margin-top: 6px;
}

#book-list {
    padding-top: 4%;
}

/* Latest Added books */
#book-list p {
    font-weight: bold;
    font-size: 1.3rem;
    /* margin-top: 3%; */
}

#book-list .books {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 5px; */
}

.book {
    text-align: center;
    margin-left: 10px;
    flex: 0 0 calc(20% - 3%);
    margin-top: 3%;
}

.book img {
    display: inline-block;
    width: 100px;
    height: auto;
}

.book figcaption {
    width: 150px;
}

.book a {
    color: var(--twitter-blue);
    font-weight: bold;
    text-decoration: none;
}



/* Footer */
footer {
    margin-top: 5%;
}

footer > .centered{
    border-top: 0.1px solid rgb(211, 211, 211);
    padding: 30px 20px;
    text-align: center;
    color: #555;
}

.special-mention > p {
    margin-bottom: 10px;
}

/* Media Queries */
@media(max-width: 850px) {
    .book {
        text-align: center;
        margin-left: 10px;
        flex: 0 0 calc(30% - 3%);
        margin-top: 3%;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure > figcaption {
        margin-top: 10px;
    }

    #book-list .books {
        justify-content: center;
    }
}

@media(max-width: 550px) {
    .book {
        text-align: center;
        margin-left: 10px;
        flex: 0 0 calc(40% - 3%);
        margin-top: 3%;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure > figcaption {
        margin-top: 10px;
    }

    nav ul {
        justify-content: center;
    }

    .title {
        text-align: left;
    }

    .book {
        margin-top: 8%;
    }

    .burger {
        width: 27px;
    }

    .burger > .stick {
        height: 3px;
        margin-top: 5px;
    }
}

@media(max-width: 400px) {
    .book {
        text-align: center;
        margin-left: 10px;
        flex: 0 0 calc(100% - 3%);
        margin-top: 3%;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure > figcaption {
        margin-top: 10px;
    }

    .title {
        text-align: left;
        font-size: 0.9rem;
    }

    nav ul {
        justify-content: center;
    }

    .book {
        margin-top: 8%;
    }

    footer {
        margin-top: 5%;
    }

    /* .burger {
        display: none;
    } */
}